%% Erlang compiler options
{erl_opts, [
  debug_info,
  warn_export_all,
  {parse_transform, lager_transform}
]}.

%% Additional compile options for eunit. erl_opts is also used
{eunit_compile_opts, [{d, 'EUNIT_TEST', true}]}.

%% What dependencies we have
{deps, [
  {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.8"}}},
  {maxwell_protocol, {git, "https://github.com/maxwell-dev/maxwell-protocol-erlang.git", {branch, "master"}}},
  {maxwell_server, {git, "https://github.com/maxwell-dev/maxwell-server.git", {branch, "remove_push_and_pull_commands"}}}
]}.

{relx, [
  {release,
    {maxwell_master_dev, "0.1.0"},
    [maxwell_master],
    [
      {dev_mode, true},
      {include_erts, true},
      {extended_start_script, true},
      {vm_args, "config/vm.dev.args"},
      {sys_config, "config/sys.dev.config"}
    ]
  },
  {release,
    {maxwell_master_prod, "0.1.0"},
    [maxwell_master],
    [
      {dev_mode, false},
      {include_erts, true},
      {extended_start_script, true},
      {vm_args, "config/vm.prod.args"},
      {sys_config, "config/sys.prod.config"}
    ]
  }
]}.